/* Import Google Fonts */
/* Quicksand and Sour Gummy */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS Variables */
:root {
    /* Set Colour Pallette  */
    --light-blue: #197BBD;
    --blue: #090C9B;
    --white: #EBEBEB;
    --silver: #C2B8B2;
    --grey: #2A2B2A;
}

/* Global styles */
section {
    padding-top: 56px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'sour gummy', sans-serif;
}

body {
    font-family: 'Quicksand', sans-serif;
    background-color: var(--silver);
}


.card {
    background-color: var(--white);
    border-radius: 25px;
}

.card img {
    border-radius: 25px 25px 10px 10px;
}


/* Nav styling */
nav {
    background-color: var(--light-blue);
}

nav .nav-link,
nav .navbar-brand {
    color: var(--white);
}

.btn-help {
    background-color: var(--blue);
}

/* Hero section */
#hero {
    height: 600px;
    width: 100%;
    background: url("../images/hero.webp") no-repeat center center/cover;
    position: relative;
    max-width: 1296px;
    margin: auto;
    margin-top: 56px;
    border-radius: 25px;
}

#cover-text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: var(--blue);
    font-size: 130%;
    position: absolute;
    bottom: 25px;
    width: 250px;
    right: 25px;
    min-height: 125px;
    padding: 25px 10px;
    border-radius: 25px;
}

#cover-text>h2,
#cover-text>h3 {
    color: #ffffff;
}

/* About section */
#about .card,
#effects .card {
    min-height: 0;
}

footer {
    background-color: var(--grey);
    color: var(--white);
}

/* Responsivity Rules  */
/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /* Set the cards min-height so they are all the same size on tablet size devices */
    .card {
        min-height: 515px;
    }

    #about .card,
    #effects .card {
        min-height: 389px;
    }
}

/* Media query: tablets and larger (1024px and up) */
@media screen and (min-width: 1024px) {

    /* Set the cards min-height so they are all the same size on laptop size devices */
    .card {
        min-height: 503px;
    }

    #about .card,
    #effects .card {
        min-height: 295px;
    }

}

/* Media query: 1440p devices (1440px and up) */
@media screen and (min-width: 1440px) {

    /* Set the cards min-height so they are all the same size on laptop size devices */
    .card {
        min-height: 605px;
    }

    #about .card,
    #effects .card {
        min-height: 225px;
    }
}